<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <title>LAMG</title>
  </head>
  <body class='teal lighten-2'>
    <div class='container'>
      <div class='row'>
        <div class='col s12'>
          <div class='card '>
            <div class='card-image center-align pink lighten-4' >
              <b class='black-text' class='card-title'>¿POR QUE UTILIZAR MATERIALIZE?</b>
            </div>
            <div class='card-content red lighten-4'>
              <p>Materialize CSS no requiere jQuery para funcionar, aunque si lo
                tienes lo puedes usar perfectamente en el proyecto y
                beneficiarte también de la librería Javascript para inicializar
                más cómodamente los componentes que requiran JS.</p>
            </div>
            <div class='card-action pink lighten-4'>
              <a href='#'>Boton de prueba</a>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>

        <div class='col s6 orange lighten-1'>
          <h4 class='center-align'>ventajas</h4>
          <p>Capacidad de ahorrar mucho tiempo en la etapa de desarrollo, ya que
            no escribiremos tanto código CSS y Javascript, en comparación con lo
            que tendríamos que escribir si partimos de cero. Aplicando un
            framework CSS conseguimos una estética atractiva para nuestros
            desarrollos, y lo podemos conseguir aunque no tengamos especialmente
            mucha mano con el diseño. Nuestros diseños serán más consistentes,
            ya que iremos aplicando una serie de estilos definidos de antemano,
            lo que ayudará a que el resultado final tenga un aspecto homogéneo.</p>
        </div>

        <div class='col s6 amber lighten-1'>
          <h4 class='center-align'>Desventajas</h4>
          <p>Muchas veces incorporas al proyecto una cantidad de código que
            realmente llegas a usar sólo en un porcentaje bajo. Esto quiere
            decir que, al aplicar todos los estilos CSS y el código Javascript,
            estarás incluyendo a tu desarrollo más peso del que realmente irás a
            usar, porque es difícil que llegues a necesitar de todas las
            interfaces de usuario que el framework te ofrece. Bien es cierto que
            Materialize CSS se entrega si se desea con su código en Sass, por lo
            que, si tenemos un conocimiento razonable de este preprocesador,
            podríamos quitar de manera relativamente fácil las partes de código
            que no interesan. A veces sentirás que desarrollas para el
            framework, creando código que tiene muchas clases aplicadas a los
            elementos, que resultarán un verdadero lío si tienes que cambiar de
            framework o simplemente eliminarlo del proyecto. Tu diseño se puede
            parecer en su base similar al de otros proyectos que usen el mismo
            framework.</p>
        </div>

      </div>
    </div>
<div>
<h2 class='purple-text'>Acerca de</h2>
<p>App que te permite registrar proyectos</p>
<p>Version: {{appVersion}}</p>
</div>
  </body>
  <script src='/bundle.js'></script>
</html>